<!doctype html>
<html lang="pt">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Teste Tailwind</title>
</head>


<body class="bg-gray-100">


    <header>
        <nav class="flex items-center justify-between p-6 bg-white shadow">

            <div>
                <img src="./images/logo.svg" alt="LOGO">
            </div>

            <ul class="hidden md:flex space-x-6 text-lg">
                <li><a href="#" class="hover:underline">Home</a></li>
                <li><a href="#" class="hover:underline">About</a></li>
                <li><a href="#" class="hover:underline">Services</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
            </ul>

            <div class="flex md:hidden">
                <img src="./images/logo" alt="">
                <p class="p-2 text-blue text-3xl">☰</p>
            </div>

        </nav>
    </header>

    <main>

        <section class="relative bg-gradient-to-r from-[#102346] via-[#2E5C91] to-[#982041] text-white">

            <div class="absolute inset-0">
                <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f" alt="Financial city"
                    class="w-full h-full object-cover opacity-30">
            </div>

            <div
                class="flex relative z-10 max-w-7xl mx-auto px-6 lg:px-12 py-32 flex flex-col lg:flex-row items-center">

                <div class="flex-1 text-center content-center">
                    <h1 class="text-4xl md:text-6xl font-extrabold leading-tight">
                        Confiança. Inovação. <br>
                        <span class="text-[#E2EAED]">VeritasCapital</span>
                    </h1>
                    <p class="mt-6 text-lg md:text-xl text-gray-200 max-w-2xl content-center mx-auto">
                        Transformamos sua visão em realidade financeira, unindo
                        tecnologia de ponta e segurança no mercado de capitais.
                    </p>
                    <div class="mt-8 flex gap-4 justify-center">
                        <a href="#services"
                            class="px-6 py-3 rounded-2xl bg-[#982041] hover:bg-[#7c1b36] transition font-semibold shadow-lg ">
                            Nossos Serviços
                        </a>
                        <a href="#about"
                            class="px-6 py-3 rounded-2xl border border-white hover:bg-white hover:text-[#102346] transition font-semibold">
                            Saiba Mais
                        </a>
                    </div>
                </div>



            </div>
        </section>

        <section class="py-16">

            <div class="pb-16 px-12 flex justify-center items-center flex-col text-center space-y-4">
                <h1 class="text-4xl font-bold">Soluções Financeiras Completas </h1>
                <p class="text-xl"> Oferecemos uma gama completa de produtos e serviços <span> bancários para atender
                        todas as suas necessidades.</span></p>
            </div>

            <div id="cards" class="grid grid-cols-1 md:grid-cols-3 gap-8 px-12">

                <div class="bg-white rounded-lg shadow-lg p-6 hover:shadow-xl transition">
                    <img src="./images/" alt="Consultoria Financeira" class="h-16 mx-auto mb-4 ">
                    <h2 class="text-2xl font-semibold mb-2 ">Consultoria Financeira</h2>
                    <p class="text-gray-600 ">Nossos especialistas ajudam você a planejar e gerenciar suas
                        finanças pessoais e empresariais.</p>
                </div>

                <div class="bg-white rounded-lg shadow-lg p-6 hover:shadow-xl transition">
                    <img src="./images/" alt="Investimentos" class="h-16 mx-auto mb-4">
                    <h2 class="text-2xl font-semibold mb-2 ">Investimentos</h2>
                    <p class="text-gray-600 ">Oferecemos uma variedade de opções de investimento para ajudar
                        você a crescer seu patrimônio.</p>
                </div>

                <div class="bg-white rounded-lg shadow-lg p-6 hover:shadow-xl transition">
                    <img src="./images/" alt="Empréstimos" class="h-16 mx-auto mb-4">
                    <h2 class="text-2xl font-semibold mb-2">Empréstimos</h2>
                    <p class="text-gray-600">Taxas competitivas e condições flexíveis para atender às suas
                        necessidades financeiras.</p>
                </div>

            </div>

        </section>


    </main>

</body>


</html>