<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Veritas Capital</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <header>
        <nav class="flex items-center justify-between p-6 bg-white shadow">

            <div>
                <img src="./images/Veritas Capital.svg" alt="LOGO">
            </div>

            <ul class="hidden md:flex space-x-6">
                <li><a href="#" class="hover:underline">Home</a></li>
                <li><a href="#" class="hover:underline">About</a></li>
                <li><a href="#" class="hover:underline">Services</a></li>
                <li><a href="#" class="hover:underline">Contact</a></li>
            </ul>

            <ul class="hidden md:flex gap-[1rem]">
                <li><a href="./login.html" class="hover:underline">Login</a></li>
                <li><a href="./signUp.html" class="hover:underline">Sign up</a></li>
            </ul>

            <div class="flex md:hidden ">
                <img src="./images/logo-mobile.svg" alt="">
                <p class="p-2 text-blue text-3xl">☰</p>
            </div>

        </nav>
    </header>

    <main >

        <div class="bg-gradient-to-r from-[#102346] via-[#2E5C91] to-[#982041] flex flex-col my-[2rem] mx-[1rem] md:flex-row justify-between items-start @min-[500px]:items-center">

            <div class=" w-[50%] py-[2rem] px-[1rem] flex justify-center">

                    <form action="" autocomplete="off" method="post" class="flex flex-col gap-[1rem] text-white text-[1.25rem]">
                    
                    <div>
                        <label for="conta">Digite seu CPF/CNPJ: </label>
                        <input type="text" name="cpfCnpj" id="cpfCnpj" required class="block text-black rounded-[0.25rem]">
                    </div>

                    <div>
                        <label for="password">Digite sua senha: </label>
                        <input type="password" name="password" id="password" required class="block text-black rounded-[0.25rem]">
                    </div>

                    <div>
                        <input type="submit" value="Sign Up" class="bg-[#982041] rounded-2xl px-6 py-1 hover:[#FFF] focus-visible:[#FFF]">
                    </div>

                </form>        

            </div>

            <div class="h-[25%] min-[793px]:w-[50%] ">
                <img src="./images/bank-backgroundLogin.jpg" alt="" class="w-full h-full md:object-cover">
            </div>

        </div>

        

    </main>

    <footer class="bg-[#982041] text-white">

        <div class="flex flex-col gap-[0.75rem] mx-[1rem]">

                <div class="flex flex-col gap-[0.5rem]">

                    <h3 class="text-[1.25rem]">Informações:</h3>

                    <ul>
                        <li><p>Termos</p></li>
                        <li><p>Políticas de privacidade</p></li>
                    </ul>

                </div>

                <div class="flex flex-col gap-[0.5rem]">

                    <h3 class="text-[1.25rem]">Contate-nos:</h3>
                    <ul>
                        <li>Telefone: 54234-2123</li>
                        <li>Número de whatsapp: 73135-0231</li>
                        <li>Email: veritasCapital@gmail.com</li>
                    </ul>

                </div>

                <div class="flex flex-row justify-between w-[2.5rem] gap-[2rem]">
                    <img src="./images/facebookIcon.svg" alt="Facebook logo">
                    <img src="./images/instagramIcon.svg" alt="Instagram logo">
                    <img src="./images/linkedinIcon.svg" alt="linkedin logo">
                    <img src="./images/githubIcon.svg" alt="github logo">
                </div>



        </div>

        <div class="bg-black p-[0.5rem] mt-[1rem] flex flex-col flex-wrap gap-[1rem] py-[2rem]">
            <img class="self-start" src="./images/Veritas Capital.svg" alt="LOGO">
            <p>&copy; 2025 Veritas Capital, Bank</p>
        </div>        

    </footer>

</body>
</html>